<center>
<h1 style="font-family: 'Barriecito', cursive; font-size:70px;">Welcome, <%= current_gym.name %></h1>
</center>
<br>
<div class="gym-index">
<div class="index-header"><h2>Current Gymnasts:</h2></div>
<br>
<div class="gymnast">
  <% @gymnasts.each do |gymnast| %>
    
      <h3><a href="/gymnasts/<%= gymnast.id %>"><%= gymnast.name %></a></h3><br>
    
  <% end %>  
  </div>  
<%# </div> %>
<br>

<div class="gym-pic-container">
<img align="right" src="/images/gym-art.png">
</div>

</div>

<div class="nav-links">
<div class="link-1"><h4><a href="/gymnasts/new">Add Gymnast</a></h4></div>
<div class="link-2"><h4><a href="/logout">Logout</a></h4></div>
</div>


