<h2>Add a Gymnast</h2>
<form action="/gymnasts" method="post">
  <br><p>Name: <input type="text" name="name"></p>
  <input class="btn btn-primary" type="submit" value="Submit">
</form>
<center>
<img align="center" src="/images/teacupbunny.jpg" style="height: auto; width: auto; max-width: 300px; max-height: 300px;">
</center>


