<center>
<h1>Gym Login Page</h1>
<br><br>
<br><br>
<div class="login">
<form action="/login" method="post">
  <input type="text" name="name" placeholder="Name:"><br>
  <input type="password" name="password" placeholder="Password:">
  <br>
  <input type="submit" value="Submit">

</form>

<div class="login-pic">
<img align="right" src="/images/leap-gym.jpg" style="height: auto; width: auto; max-width: 300px; max-height: 300px;">
</div>
</div>
</center>