<h1>Gym Login Page</h1>

<form action="/login" method="post">
  <input type="text" name="name" placeholder="Name:">
  <input type="password" name="password" placeholder="Password:">

  <input type="submit" value="Submit">

</form>