<h1>New Gym!</h1>

<h3>Sign Up</h3>
<form action="/signup" method="post">
  <p>Name: <input type="text" name="name"></p>
  <p>Password: <input type="text" name="password"></p>
  <input class="btn btn-primary" type="submit">

</form>
