<center><h1>Gym Starz</h1>
<header><img align="middle" src="/images/3_gyms.png"></header>
<h3>Please sign-in or sign-up below:</h3>
<br>
<nav>
  <% if logged_in? %>
    <a href="/gymnasts">View Gymnasts</a>
    <a href="/logout">Log Out</a>
    <p>Welcome, <%= current_gym.name %></p>

  <% else %>
    <a href="/signup">Sign Up</a>
    <a href="/login">Sign In</a>

  <% end %>

</nav>
</center>
