<h1>Gym Starz</h1>
<h3>Please sign-in or sign-up below:</h3>

<nav>
  <% if logged_in? %>
    <a href="/gymnasts">View Gymnasts</a>
    <a href="/logout">Log Out</a>
    <p>Welcome, <%= current_gym.name %></p>

  <% else %>
    <a href="/signup">Sign Up</a>
    <br>
    <br>
    <a href="/login">Sign In</a>

  <% end %>

</nav>
